/* Definição das variáveis do CSS */
:root {
    --primary-color: rgb(229, 255, 0);
    --secondary-color: rgb(229, 255, 0);
    --tertiary-color: rgb(229, 255, 0);
    --back-color: rgb(79, 175, 41);
}
/* Resetar as configurações do navegador */

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

header {
    background-color: black;
    color: aliceblue;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 75px;     
}

body {
    background: var(--back-color);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.2em;
     
}

p {
    text-align: justify;
}

main {
    display: flex;
    width:  75%;
    margin: 0 auto;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.box {
    align-items: flex-start;    
    display: block;
    width: 400px;
    height: 450px;
    border: 1px solid;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    padding: 25px;
}

.link {
    margin-top: 20px;
}

img {
    width: 350px;
    height: 250px;
}

#red {
    background-color: var(--primary-color);
}

#green {
    background-color: var(--secondary-color);
}

#blue {
    background-color: var(--tertiary-color);
}

